<div class="grid_9" id="admin">

	<ul>
		<li><a href="/blog/new">Add new Blog Post</a></li>
		<li><a href="/work/new">Add new Project</a></li>

</div>
<div class="grid_3">

	<p>Images should be 600px wide</p>
	<p>Amazon is: http://runemadsen-2012.s3.amazonaws.com/blog/</p>

</div>
<div class="clear"></div>

