<% content_for :head do %>
	<%= javascript_include_tag "mail" %>
<% end %>

<div class="grid_8" id="mail">
	<h1 data-cryptic>here goes email</h1>
	<p>That's my email.</p>
	
	<h2><a href="http://www.twitter.com/runemadsen">@runemadsen</a></h2>
	<p>That's me on Twitter.</p>
	
	<h2><a href="http://www.github.com/runemadsen">github.com/runemadsen</a></h2>
	<p>I'm also on Github.</p>
	
	<h2><a href="http://www.vimeo.com/runemadsen">vimeo.com/runemadsen</a></h2>
	<p>... and on Vimeo.</p>
	
</div>
<div class="grid_4" id="mail">
	&nbsp;
</div>
</div class="clear"></div>