<% content_for :head do %>
	<%= javascript_include_tag "printing-code" %>
<% end %>

<div class="grid_2">
	&nbsp;
</div>
<div class="grid_7" id="printing-code-body">
	<%= @html %>
</div>
<div class="grid_3">
	<h3>Navigation</h3>
	<ul id="toc"></ul>
</div>
<div class="clear"></div>

