<html>
<head>
	<title>Slideshow</title>
	<%= stylesheet_link_tag "reset" %>
	<%= stylesheet_link_tag "runemadsen" %>
	<%= javascript_include_tag "libraries" %>
	<%= javascript_include_tag "shared" %>
</head>
<body id="slides">
</body>
</html>