<html>
<head>
	<title>Rune Madsen</title>
	<%= css :shared, :media => 'screen' %>
	<%= js :shared %>
	<%= js :error %>
</head>
<body>
	
	<div id="error">
		<h1>404</h1>
		<div id="computer">
			<img src="/images/404.jpg" />
			<div id="left-eye">&nbsp;</div>
			<div id="right-eye">&nbsp;</div>
		</div>
		<p>Sorry about that!</p>
	</div>
	
	
</body>
</html>