<div class="grid_12" id="resume">
	
	<div class="grid_5 alpha ver_spacing_3">
		<h1>Rune Skjoldborg Madsen</h1>
		<address>61 Driggs Avenue, apt. 3F, 11222 Brooklyn, New York</address>
	</div>
	<div class="grid_7 omega ver_spacing_3" id="description">
		<p>Computational designer working in the fields of programming and graphic design. Believes in simplicity and organized complexity side by side. Passionate about creative coding in art, teaching and using the computer as a main tool for creative expression.</p>
	</div>
	<div class="clear"></div>

	<h2>Education</h2>

	<div class="grid_4 alpha ver_spacing_3">
		<h4>Post Doc, Research Residency, 2011-2012</h4>
		<p>
			A one year research residency at the <a href="http://itp.nyu.edu">Interactive Telecommunications Program</a> at <a href="http://nyu.edu">New York University</a>. Focus on teaching sessions in creative programming at graduate level. Research in generative graphic prints and computational form.
		</p>
	</div>
	<div class="grid_4 ver_spacing_3">
		<h4>M.P.S., New York University, 2009-2011</h4>
		<p>
			The <a href="http://itp.nyu.edu">Interactive Telecommunications Program</a> is a graduate program that explores the intersection between art and technology. Thesis work focused on using the version control system Git as a platform for collaboration on the web.
		</p>
	</div>
	<div class="grid_4 omega ver_spacing_3">
		<h4>B.A., University of Copenhagen, 2005-2008</h4>
		<p>
			The <a href="http://filmandmedia.ku.dk/">Film and Media Studies</a> program concentrates on the analysis of modern media and the interplay between these and society. The approach is both theoretical and practical. Thesis work focused on software as a service.
		</p>
	</div>
	<div class="clear"></div>

	
	<h2>Professional Experience</h2>
	
	<div class="grid_4 alpha ver_spacing_1">
		<h4>Freelance Creative Coder, 2010-present</h4>
		<p>
			Physical and digital projects ranging from print design and gallery installations to data visualizations, online new media and interactive visuals for performers. Work showed in Vogue, Make, Engadget, Adafruit, Techcrunch, David Letterman, Jimmy Kimmel Live, etc.
		</p>
	</div>
	
	<div class="grid_4 ver_spacing_1">
		<h4>Interactive Developer, New York Times, 2011</h4>
		<p>
			Design and development of major interactive features for nytimes.com, a website with over 20 million unique visitors a month.
			Development of new backend tools and frontend libraries for interactive journalism, including software for <a href="http://www.nytimes.com/interactive/2011/09/08/nyregion/911-tapes.html">annotating audio</a>, <a href="http://www.nytimes.com/interactive/2011/12/04/sports/hockey/boogaard-video.html">video</a> and <a href="http://www.nytimes.com/interactive/2012/02/12/opinion/sunday/20120212-tahir-timeline.html">other multimedia</a> with metadata. 
		</p>
	</div>
	
	<div class="grid_4 omega ver_spacing_1">
		<h4>Interaction Designer, 2008-2009</h4>
		<p>Founder and consultant at runemadsen.com. Graphic design work and web development for large Danish clients, including Innovation Furniture, Saxo Bank, Elsparefonden and TV2 Denmark. Specializing in Flash-based web applications and implementation of Open Source CMS solutions.</p>
	</div>
	<div class="clear"></div>
	
	<div class="grid_4 alpha ver_spacing_3">
		<h4>Teaching Consultant, 2008-2009</h4>
		<p>Teaching hands-on courses in interface design, advanced game programming in Flash, and web development using Javascript. Clients include Lego, Dong Energy and ARoS Museum of Modern Art.</p>
	</div>
	
	
	<div class="grid_4 ver_spacing_3">
		<h4>Web Developer, e-mergency, 2007-2008</h4>
		<p>
			Graphic design and web development for 100+ Danish websites, using Open Source software such as Joomla, Wordpress and Drupal. Focus on microsite and e-shop implementations.
		</p>
	</div>
	
	<div class="grid_4 omega ver_spacing_3">
		<h4>Danish Radio Broadcasting, 2006-2007</h4>
		<p>Responsible for archiving video and metadata from photographers at the most watched live news show in Denmark. Retrieval of archive footage for use in television programs on channels DR1 and DR2.</p>
	</div>
	
	<div class="clear"></div>

	<div class="grid_4 alpha">
		
		<h2>Exhibitions</h2>
		
		<ul>
			<li>David Letterman, Late Show, New York City 2011</li>
			<li>Jimmy Kimmel Live!, Los Angeles 2011</li>
			<li>TV of Tomorrow Gallery, New York City 2011</li>
			<li>Monitor Digital, Guadalajara, Mexico 2011</li>
			<li>Charles Bank Gallery, New York City 2011</li>
			<li>Vimeo Festival Gallery, New York City 2011</li>
			<li>P3 Gold (Danish Grammys), Copenhagen 2011</li>
			<li>Antics Roadshow, Documentary Film by Banksy, 2011</li>
			<li>Roskilde Festival, Denmark, 2011</li>
		</ul>
		
		<h2>Guest Lectures</h2>
		
		<ul>
			<li>Computer Science Department, NYU, 2011</li>
			<li>MICA, Baltimore, 2011</li>
			<li>Interactive Telecommunications Program, NYU, 2011</li>
			<li>New Media Days, Copenhagen, 2010</li>
		</ul>
		
	</div>
	<div class="grid_4">

		<h2>Skills</h2>
		
		<p>Highly skilled in a multitude of programming languages, frameworks and databases</p>
		
		<ul>
			<li>Ruby (Sinatra, Rails)</li>
			<li>Javascript (Jquery, Backbone)</li>
			<li>C++ (OpenFrameworks, Cinder, poCode)</li>
			<li>Java (Processing)</li>
			<li>Wiring (Arduino)</li>
			<li>SQL, CouchDB, MongoDB, Redis</li>
			<li>Git internals</li>
		</ul>
		
		<p>Highly skilled in graphic design, interface design and computational visual form. This means not only knowing about existing digital tools (Photoshop, Illustrator), but a solid knowledge of graphic design history, a sense for simplicity and a love for intuitive form.</p>
		
	</div>
	
	<div class="grid_4 omega">
		
		<h2>Selected Press</h2>

		<ul>
			<li><a href="http://gizmodo.com/5688489/interactive-people-watching">Gizmodo: Interactive People Watching</a></li>
			<li><a href="http://laughingsquid.com/people-watching-plus-directing-the-flow-of-people-on-a-sidewalk/">Laughing Squid: People Watching</a></li>
			<li><a href="http://www.woostercollective.com/post/people-watching">Woostercollective: People Watching</a></li>
			<li><a href="http://www.buzzfeed.com/mjs538/people-watching">Buzzfeed: People Watching</a></li>
			<li><a href="http://mashable.com/2011/04/18/music-monday-oh-land/">Mashable: Balloon Projections</a></li>
			<li><a href="http://www.brooklynvegan.com/archives/2011/03/oh_land_played_3.html">Brooklyn Vegan: Balloon Projections</a></li>
			<li><a href="http://www.prefixmag.com/media/oh-land/sun-of-a-gun-live-on-kimmel-video/50608/">Jimmy Kimmel Live: Ballon Projections</a></li>
			<li><a href="http://idolator.com/5785451/oh-land-brings-her-sun-of-a-gun-to-letterman">David Letterman: Ballon Projections</a></li>
		</ul>
		
		<h2>Links</h2>
			
		<ul>
			<li><a href="http://www.runemadsen.com">www.runemadsen.com</a></li>
			<li><a href="mailto:rune@runemadsen.com">rune@runemadsen.com</a></li>
			<li><a href="http://vimeo.com/runemadsen">www.vimeo.com/runemadsen</a></li>
		</ul>

	</div>
	<div class="clear"></div>

</div>
