<div class="grid_12">
	<h1>Rune Skjoldborg Madsen</h1>
	<address>61 Driggs Avenue, apt. 3F, 11222 Brooklyn, New York</address>
	<p>Computational artist working in the fields of graphic design and programming.</p>

	<h2>Education</h2>

	<div class="grid_4 alpha">
		<h4>Post Doc, Research Residency, 2011-2012</h4>
		<p>
			A one year research residency at the <a href="http://itp.nyu.edu">Interactive Telecommunications Program</a> at <a href="http://nyu.edu">New York University</a>. Focus on teaching sessions in creative programming at graduate level. Research in generative graphic prints and computational form.
		</p>
	</div>
	<div class="grid_4">
		<h4>M.P.S., New York University, 2009-2011</h4>
		<p>
			The <a href="http://itp.nyu.edu">Interactive Telecommunications Program</a> is a graduate program that explores the intersection between art and technology. Thesis work focused on using the version control system Git as a platform for collaboration on the web.
		</p>
	</div>
	<div class="grid_4 omega">
		<h4>B.A., University of Copenhagen, 2005-2008</h4>
		<p>
			The <a href="http://filmandmedia.ku.dk/">Film and Media Studies</a> program concentrates on the analysis of modern media and the interplay between these and society. The approach is both theoretical and practical. Thesis work focused on software as a service.
		</p>
	</div>
	<div class="clear"></div>

	
	<h2>Professional Experience</h2>
	
	<div class="grid_4 alpha">
		<h4>Creative Coder, 2010-present</h4>
		<p>
			Physical and digital projects ranging from print design and gallery installations to data visualizations, online new media and interactive visuals for performers. Lecturing on the use of computational form and the intersection between graphic design and programming.
		</p>
	</div>
	
	<div class="grid_4">
		<h4>Interactive Developer, New York Times, 2011</h4>
		<p>
			Design and development of major interactive features for nytimes.com, a website with over 20 million unique visitors a month.
			Development of new backend tools and frontend libraries for interactive journalism, including software for <a href="http://www.nytimes.com/interactive/2011/09/08/nyregion/911-tapes.html">annotating audio</a>, <a href="http://www.nytimes.com/interactive/2011/12/04/sports/hockey/boogaard-video.html">video</a> and <a href="http://www.nytimes.com/interactive/2012/02/12/opinion/sunday/20120212-tahir-timeline.html">other multimedia</a> with metadata. 
		</p>
	</div>
	
	<div class="grid_4 omega">
		<h4>Interaction Designer, 2008-2010</h4>
		<p>Founder and consultant at runemadsen.com. Graphic design work and web development for large Danish clients, including Innovation Furniture, Saxo Bank, Elsparefonden and TV2 Denmark.</p>
	</div>
	<div class="clear"></div>
	
	<div class="grid_4 alpha">
		<h4>Teaching Consultant, 2008-2009</h4>
		<p>Lego,  ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	
	
	<div class="grid_4">
		<h4>Web Developer (e-mergency), 2007-2008</h4>
		<p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	
	<div class="grid_4 omega">
		<h4>Danish Radio Broadcasting, 2006-2007</h4>
		<p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	
	<div class="clear"></div>

	<div class="grid_4 alpha">
		
		<h2>Exhibitions</h2>
		
		<ul>
			<li>David Letterman, Late Show, New York City 2011</li>
			<li>Jimmy Kimmel Live!, Los Angeles 2011</li>
			<li>TV of Tomorrow Gallery, New York City 2011</li>
			<li>Monitor Digital, Guadalajara, Mexico 2011</li>
			<li>Charles Bank Gallery, New York City 2011</li>
			<li>Vimeo Festival Gallery, New York City 2011</li>
			<li>P3 Gold (Danish Grammys), Copenhagen 2011</li>
			<li>Antics Roadshow, Documentary Film by Banksy, 2011</li>
			<li>Roskilde Festival, 2011</li>
		</ul>
		
	</div>
	<div class="grid_4">

		<h2>Guest Lectures</h2>
		
		<ul>
			<li>New York University, Department of Computer Science 2011</li>
			<li>Maryland Institute College of Art 2011</li>
			<li>Interactive Telecommunications Program, New York University 2011</li>
			<li>New Media Days, Copenhagen, 2010</li>
		</ul>
		
	</div>
	
	ADD SKILLS IN PROGRMAMING, GRAPHIC DESIGN, VIDEO EDITING, ETC.
	
	
	<div class="grid_4 omega">
		
		<h2>Press</h2>

		<ul>
			<li>
				<a href="http://gizmodo.com/5688489/interactive-people-watching">Gizmodo: Interactive People Watching</a>
			</li>
			<li>
				<a href="http://laughingsquid.com/people-watching-plus-directing-the-flow-of-people-on-a-sidewalk/">Laughing Squid: People Watching</a>
			</li>
			<li>
				<a href="http://www.woostercollective.com/post/people-watching">Woostercollective: People Watching</a>
			</li>
			<li>
				<a href="http://www.buzzfeed.com/mjs538/people-watching">Buzzfeed: People Watching</a>
			</li>
			<li>
				<a href="http://gaffa.dk/anmeldelse/49820">Oh Land: Store Vega, København - Anmeldelse - GAFFA.dk</a>
			</li>
			<li>
				<a href="http://web.orange.co.uk/p/musicstore/story_oh_land_live_review">Live last night: Oh Land, (XOYO, London) | Orange UK</a>
			</li>
			<li>
				<a href="http://ursidaenyc.com/2011/04/215/">Oh Land and Eske Kath at Charles Bank Gallery – Ursidae New York</a>
			</li>
			<li>
				<a href="http://latimesblogs.latimes.com/music_blog/2011/04/oh-land-draws-cinematic-electropop-from-loneliness-.html" title="balloon">Oh Land draws 'cinematic' electropop from loneliness | Pop &amp; Hiss | Los Angeles Times</a>
			</li>
			<li>
				<a href="http://mashable.com/2011/04/18/music-monday-oh-land/">Electro Pop Songstress Oh Land Premieres</a>
			</li>
			<li>
				<a href="http://www.youtube.com/watch?v=Lh9U4d4F7jc&amp;feature=player_embedded">YouTube - CNN Official Interview: Oh Land leaps from ballet to pop music</a>
			</li>
			<li>
				<a href="http://thejealouslover.com/2011/03/30/the-mad-hatter-meets-willy-wonka-oh-land-debuts-week-long-residency-at-charles-bank-gallery-art-by-eske-kath/">The Mad Hatter Meets Willy Wonka: Oh Land Debuts Week-Long Residency at Charles Bank Gallery, Art by Eske Kath |</a>
			</li>
			<li>
				<a href="http://www.thedailybeast.com/blogs-and-stories/2011-04-01/oh-land-and-eske-kaths-visual-art-at-new-yorks-charles-bank-gallery/">Oh Land and Eske Kath’s Visual Art at New York’s Charles Bank Gallery - The Daily Beast</a>
			</li>
			<li>
				<a href="http://www.brooklynvegan.com/archives/2011/03/oh_land_played_3.html">Oh Land played Charles Bank Gallery surrounded by Eske Kath's art (pics &amp; video)</a>
			</li>
			<li>
				<a href="http://www.prefixmag.com/media/oh-land/sun-of-a-gun-live-on-kimmel-video/50608/">Oh Land: "Sun Of A Gun" (Live On Kimmel) (Video)</a>
			</li>
			<li>
				<a href="http://www.rollingstone.com/culture/blogs/rolling-stone-video-blog/oh-land-sings-perky-son-of-a-gun-on-jimmy-kimmel-live-20110325">Oh Land Sings Perky 'Son of a Gun' on 'Jimmy Kimmel Live' | Rolling Stone Culture | Video Blog | Music Entertainment Videos</a>
			</li>
			<li>
				<a href="http://idolator.com/5802382/oh-land-sxsw-pray-for-pop">Oh Land Turns It Up At Idolator’s Pray For Pop Party At SXSW | Music News, Reviews, and Gossip on Idolator.com</a>
			</li>
			<li>
				<a href="http://www.southfloridagaynews.com/arts-and-entertainment/music/3335-oh-land-is-our-land.html">Oh Land is Our Land | SouthFloridaGayNews.com</a>
			</li>
			<li>
				<a href="http://www.thelineofbestfit.com/2011/02/jamie-woon-woh-land-and-ghostpoet-scala-london-24022011/">Jamie Woon w/Oh Land and Ghostpoet – Scala, London 24/02/2011 | The Line Of Best Fit</a>
			</li>
			<li>
				<a href="http://idolator.com/5785451/oh-land-brings-her-sun-of-a-gun-to-letterman">Oh Land Brings Her “Sun Of A Gun” To ‘Letterman’ | Music News, Reviews, and Gossip on Idolator.com</a>
			</li>
			<li>
				<a href="http://blog.promotion-us.com/oh-land-sun-of-a-gun-live-on-david-letterman">Oh Land: Sun of a Gun (Live on David Letterman)</a>
			</li>
			<li>
				<a href="http://www.prefixmag.com/media/oh-land/sun-of-a-gun-live-on-letterman-video/49967/">Oh Land: "Sun Of A Gun" (Live On Letterman) (Video)</a>
			</li>
			<li>
				<a href="http://www.chanisays.com/2011/03/exploration-of-rising-pop-star-oh-land.html?utm_source=feedburner&amp;utm_medium=twitter&amp;utm_campaign=Feed%3A+ChaniSays+%28Chani+Says...%29#axzz1FVw098J8">Chani Says...: The Exploration of A Rising Pop Star: Oh Land</a>
			</li>
			<li>
				<a href="http://blog.mtvmusic.com/2010/10/19/oh-land-performs-at-the-syndicates-conflict-of-interest-cmj-party/">Oh Land Performs at The Syndicate CMJ Party</a>
			</li>
			<li>
				<a href="http://thenewphiladelphia.com/one-ticket-to-oh-land-please/">One Ticket to Oh Land, Please! | The New Philadelphia</a>
			</li>
			<li>
				<a href="http://www.womensradio.com/articles/SXSW-2011%3A-Oh-Land,-Ballet-to-Electropop/8675.html">SXSW 2011: Oh Land, Ballet to Electropop | Articles | Giving women and minorities a greater voice around the world.</a>
			</li>
			<li>
				<a href="http://dcathome.com/dct/62/id/568311/mid/1721/Oh-Land-Wows-With-Balloons.aspx">Oh Land Wows With Balloons</a>
			</li>
			<li>
				<a href="http://www.fenuxe.com/2011/02/24/fenuxe-interview-oh-land/">Interview: Oh Land | Gay Atlanta | Gay Magazine | FENUXE Magazine - Atlanta's Gay Magazine</a>
			</li>
			<li>
				<a href="http://www.thisislondon.co.uk/brits2011/article-23926052-home-house-sessions.do">Home House Sessions | The BRIT Awards 2011</a>
			</li>
			<li>
				<a href="http://blog.promotion-us.com/oh-land-live-from-hiro-ballroom">Oh Land: Live From Hiro Ballroom</a>
			</li>
			<li>
				<a href="http://www.vevo.com/watch/oh-land/wolf-i-live/USSM21001848">Wolf &amp; I (Live) - Oh Land | Music Video | VEVO</a>
			</li>
			<li>
				<a href="http://blog.mtviggy.com/2011/02/09/slideshow-denmarks-oh-land-hiro-ballroom-attack-of-the-sexy-balloons/">Slideshow&gt; Denmark’s Oh Land @ Hiro Ballroom: Attack Of The Sexy Balloons! &gt; MTV Iggy Blog &gt; MTV Iggy - Global Pop Culture, Latest Trends and New Music</a>
			</li>
			<li>
				<a href="http://www.flickr.com/photos/stylespotting/5412378327/">Danish Singer Oh Land's Singing Balloons (The Echo, LA) | Flickr - Photo Sharing!</a>
			</li>
			<li>
				<a href="http://buzzbands.la/2011/02/05/oh-land-has-the-curiosity-seekers-saying-oh-yes/">Oh Land has the curiosity-seekers saying ‘Oh, yes’</a>
			</li>
		</ul>

	</div>
	<div class="clear"></div>

</div>
