<% content_for :head do %>
	<%= stylesheet_link_tag "print", :media => "all" %>
<% end %>

<div class="grid_4">

	<h1>Rune Skjoldborg Madsen</h1>
	<address>61 Driggs Avenue, apt. 3F, 11222 Brooklyn, New York</address>

</div>
<div class="grid_8">

	<h2>Profile</h2>

	<p>Something</p>


	<h2>Professional Experience</h2>

	<h3>Computational Designer and Developer, O'Reilly Media <small>Oct 2012 - Ongoing</small></h3>
	<p>Primary designer and developer on the Atlas and Chimera systems, two R&D projects that aim to radically simplify the creation and distribution of digital content. Consulting with CTO, Director of Publishing Technology and other O'Reilly staff to evaluate, maintain and improve interfaces and functionality for all existing publishing technology stack for creating print and digital books. Work on data visualizations and graphic designs, in support of strategic O'Reilly initiatives.</p>

	<h3>Adjunct Professor, Interactive Telecommunications Program, NYU <small>Sep 2012 - Ongoing</small></h3>
	<p>Developed and taught classes at graduate level, including <a href="http://bit.ly/UBT4mJ">Printing Code</a>, a class on algorithmic graphic design (BITLY), and <a href="http://bit.ly/ZpEjbu">Communications Lab Web</a>, a class on dynamic web development in Ruby.</p>

	<h3>Computational Designer and Developer, The New York Times <small>Jan 2011 - Jan 2012</small></h3>
	<p>Responsible for interactive multimedia features for the New York Times website, with over 30 million unique visitors per month. Developed numerous front-page features, including <a href="http://nyti.ms/TCUA9q">9/11 Tapes</a>, <a href="http://nyti.ms/WUTYSD">The Ruth Madoff Interview</a>, and developed the annotation system used for the interactive debate transcripts for the <a href="http://nyti.ms/UhQVMP">first</a>, <a href="http://nyti.ms/Xvteam">second</a> and <a href="http://nyti.ms/TqkayG">third</a> presidential debate, plus the <a href="http://nyti.ms/UhR3ff">vice-presidential debate</a>. Worked with big data sets from the <a href="http://bit.ly/QzgOMw">Project Cascade</a> twitter visualization to create internal jounalistic tools to faciliate an understanding of the way news spread on Twitter.</p>

	<h3>Computational Artist, Rune Madsen Art Studio <small>Dec 2009 - Ongoing</small></h3>
	<p>Artistic work developed through commisssions from galleries, international art festivals, top 100 artists, and other companies. Projects include <a href="http://bit.ly/UhSUke">interactive visuals for performers</a>, <a href="http://bit.ly/TUdJWF">video sculptures</a>, <a href="http://bit.ly/TqoePt">generative litography</a>, and <a href="http://bit.ly/W1YpEY">video works</a>. Work shown in the biggest national television shows, including David Letterman and Jimmy Kimmel Live, international galleries in New York City, San Francisco and Guadalajara, Mexico. See <em>Recognition</em> for full list.</p>
	

	<h3>CEO, Computational Designer and Developer, runemadsen.com <small>Feb 2008 - Jan 2011</small></h3>
	* Lego, Elsparefonden, Hello Group, Bahne consultant
	* Innovation, development of their international website for millions of users
	Semi-Finalist, Adobe Design Awards

	<h3>Computational Designer and Developer, e-mergency <small>Jan 2007  - Feb 2008</small></h3>
	All that stuff

	<h3>Digital News Assistant, Danish Broadcasting Coporation <small>Dec 2005 - May 2007</small></h3>


	<!-- HERTIL 3:30 -->

	<h2>Education</h2>

	<h3>Postdoctoral Research Associate, ITP, NYU<small>Aug 2011 - Sep 2012</small></h3>

	<p>Research on the intersection between graphic design and code. Primary developer on the Magic Book Project, a system for digital publishing used to release Daniel Shiffman's The Nature of Code book.</p>

	<h3>Master of Interactive Technology, ITP, NYU<small>Sep 2009 - May 2011</small></h3>
	<p>Focus on using the version control system Git as a platform for web-enabled collaboration. Recipient of the Tisch School of the Arts graduate scholarship.</p>

	<h3>Bachelor of Arts, Media Studies, University of Copenhagen<small>Sep 2005 - May 2008</small></h3>
	<p>Emphasis on the analysis of modern media and the interplay between these and society. Thesis work focused on software as a service, including API-enabled web applications.</p>



	<h2>Recognition</h2>
	EACH OF THESE SHOULD HAVE DESCRIPTIONS!!!!!
	David Letterman, Late Show, New York City 2011
	Jimmy Kimmel Live!, Los Angeles 2011
	Antics Roadshow, Documentary Film by Banksy, 2011
	TV of Tomorrow Gallery, New York City 2011
	Monitor Digital, Guadalajara, Mexico 2011
	Charles Bank Gallery, New York City 2011
	Vimeo Festival Gallery, New York City 2011
	P3 Gold (Danish Grammys), Copenhagen 2011
	Roskilde Festival, Denmark, 2011
	Dumbo Arts Festival, 2012
	CodeConf Gallery, San Francisco, 2010
	IAC Center, Big Screens
	Semi-Finalist, Adobe Design Awards
	ite
	Gizmodo
	Laughing Squid
	Woostercollective
	Buzzfeed
	Mashable
	PrefixMag
	Idolator

	<!-- HERTIL 4:30 -->


	<h2>Lectures</h2>

	Computer Science Department, NYU, 2011
	MICA, Baltimore, 2011
	Interactive Telecommunications Program, NYU, 2011
	New Media Days, Copenhagen, 2010


	<h2>Skills</h2>

	Highly skilled in a multitude of programming languages, frameworks and databases

	Ruby (Sinatra, Rails)
	Javascript (Jquery, Backbone)
	C++ (OpenFrameworks, Cinder, poCode)
	Java (Processing)
	Wiring (Arduino)
	SQL, CouchDB, MongoDB, Redis
	Git internals
	
	First person to teach a graduate level class algorithmic graphic design at ITP. Highly skilled in 	graphic design, interface design and computational visual form. This means not only knowing about 	existing digital tools (Photoshop, Illustrator), but also a solid knowledge of graphic design history, a 	sense for simplicity and a love for intuitive form.
	

	<!-- HERTIL 5:30 -->

</div>
<div class="clear"></div>
	
<!--

	<div class="grid_5 ver_spacing_3">
		
	</div>
	<div class="grid_7 ver_spacing_3" id="description">
		<p>Computational artist and designer working in the fields of programming and graphic design. Believes in simplicity and organized complexity. Passionate about creative coding, teaching and use of the computer as a tool for artistic expression.</p>
	</div>
	<div class="clear"></div>

	<h2>Education</h2>

	<div class="grid_4 ver_spacing_3">
		<h4>Post Doc, Research Residency, 2011-2012</h4>
		<p>
			A one year research residency at the <a href="http://itp.nyu.edu">Interactive Telecommunications Program</a> at <a href="http://nyu.edu">New York University</a>. Focus on teaching sessions in creative programming at graduate level. Research in generative graphic prints and computational form.
		</p>
	</div>
	<div class="grid_4 ver_spacing_3">
		<h4>M.P.S., New York University, 2009-2011</h4>
		<p>
			The <a href="http://itp.nyu.edu">Interactive Telecommunications Program</a> is a graduate program that explores the intersection between art and technology. Thesis work focused on using the version control system Git as a platform for collaboration on the web.
		</p>
	</div>
	<div class="grid_4 ver_spacing_3">
		<h4>B.A., University of Copenhagen, 2005-2008</h4>
		<p>
			The <a href="http://filmandmedia.ku.dk/">Film and Media Studies</a> program concentrates on the analysis of modern media and the interplay between these and society. The approach is both theoretical and practical. Thesis work focused on software as a service.
		</p>
	</div>
	<div class="clear"></div>

	
	<h2>Professional Experience</h2>
	
	<div class="grid_4 ver_spacing_1">
		<h4>Freelance Creative Coder, 2010-present</h4>
		<p>
			Physical and digital projects ranging from print design and gallery installations to data visualizations, online new media and interactive visuals for performers. Work showed in Vogue, Make, Engadget, Adafruit, Techcrunch, David Letterman, Jimmy Kimmel Live, etc.
		</p>
	</div>
	
	<div class="grid_4 ver_spacing_1">
		<h4>Interactive Developer, New York Times, 2011</h4>
		<p>
			Design and development of major interactive features for nytimes.com, a website with over 20 million unique visitors a month.
			Development of new backend tools and frontend libraries for interactive journalism, including software for <a href="http://www.nytimes.com/interactive/2011/09/08/nyregion/911-tapes.html">annotating audio</a>, <a href="http://www.nytimes.com/interactive/2011/12/04/sports/hockey/boogaard-video.html">video</a> and <a href="http://www.nytimes.com/interactive/2012/02/12/opinion/sunday/20120212-tahir-timeline.html">other multimedia</a> with metadata. 
		</p>
	</div>
	
	<div class="grid_4 ver_spacing_1">
		<h4>Interaction Designer, 2008-2009</h4>
		<p>Founder and consultant at runemadsen.com. Graphic design work and web development for large Danish clients, including Innovation Furniture, Saxo Bank, Elsparefonden and TV2 Denmark. Specializing in Flash-based web applications and implementation of Open Source CMS solutions.</p>
	</div>
	<div class="clear"></div>
	
	<div class="grid_4 ver_spacing_3">
		<h4>Teaching Consultant, 2008-2009</h4>
		<p>Teaching hands-on courses in interface design, advanced game programming in Flash, and web development using Javascript. Clients include Lego, Dong Energy and ARoS Museum of Modern Art.</p>
	</div>
	
	
	<div class="grid_4 ver_spacing_3">
		<h4>Web Developer, e-mergency, 2007-2008</h4>
		<p>
			Graphic design and web development for 100+ Danish websites, using Open Source software such as Joomla, Wordpress and Drupal. Focus on microsite and e-shop implementations.
		</p>
	</div>
	
	<div class="grid_4 ver_spacing_3">
		<h4>Danish Radio Broadcasting, 2006-2007</h4>
		<p>Responsible for archiving video and metadata from photographers at the most watched live news show in Denmark. Retrieval of archive footage for use in television programs on channels DR1 and DR2.</p>
	</div>
	
	<div class="clear"></div>

	<div class="grid_4">
		
		<h2>Exhibitions</h2>
		
		<ul>
			<li>David Letterman, Late Show, New York City 2011</li>
			<li>Jimmy Kimmel Live!, Los Angeles 2011</li>
			<li>TV of Tomorrow Gallery, New York City 2011</li>
			<li>Monitor Digital, Guadalajara, Mexico 2011</li>
			<li>Charles Bank Gallery, New York City 2011</li>
			<li>Vimeo Festival Gallery, New York City 2011</li>
			<li>P3 Gold (Danish Grammys), Copenhagen 2011</li>
			<li>Antics Roadshow, Documentary Film by Banksy, 2011</li>
			<li>Roskilde Festival, Denmark, 2011</li>
		</ul>
		
		<h2>Guest Lectures</h2>
		
		<ul>
			<li>Computer Science Department, NYU, 2011</li>
			<li>MICA, Baltimore, 2011</li>
			<li>Interactive Telecommunications Program, NYU, 2011</li>
			<li>New Media Days, Copenhagen, 2010</li>
		</ul>
		
		<h2>Selected Press</h2>

		<ul>
			<li><a href="http://gizmodo.com/5688489/interactive-people-watching">Gizmodo: Interactive People Watching</a></li>
			<li><a href="http://laughingsquid.com/people-watching-plus-directing-the-flow-of-people-on-a-sidewalk/">Laughing Squid: People Watching</a></li>
			<li><a href="http://www.woostercollective.com/post/people-watching">Woostercollective: People Watching</a></li>
			<li><a href="http://www.buzzfeed.com/mjs538/people-watching">Buzzfeed: People Watching</a></li>
			<li><a href="http://mashable.com/2011/04/18/music-monday-oh-land/">Mashable: Balloon Projections</a></li>
			<li><a href="http://www.brooklynvegan.com/archives/2011/03/oh_land_played_3.html">Brooklyn Vegan: Balloon Projections</a></li>
			<li><a href="http://www.prefixmag.com/media/oh-land/sun-of-a-gun-live-on-kimmel-video/50608/">Jimmy Kimmel Live: Ballon Projections</a></li>
			<li><a href="http://idolator.com/5785451/oh-land-brings-her-sun-of-a-gun-to-letterman">David Letterman: Ballon Projections</a></li>
		</ul>
		
	</div>
	<div class="grid_4">

		<h2>Skills</h2>
		
		<p>Highly skilled in a multitude of programming languages, frameworks and databases</p>
		
		<ul>
			<li>Ruby (Sinatra, Rails)</li>
			<li>Javascript (Jquery, Backbone)</li>
			<li>C++ (OpenFrameworks, Cinder, poCode)</li>
			<li>Java (Processing)</li>
			<li>Wiring (Arduino)</li>
			<li>SQL, CouchDB, MongoDB, Redis</li>
			<li>Git internals</li>
		</ul>
		
		<p class="ver_spacing_3">Highly skilled in graphic design, interface design and computational visual form. This means not only knowing about existing digital tools (Photoshop, Illustrator), but also a solid knowledge of graphic design history, a sense for simplicity and a love for intuitive form.</p>
		
		<h2>Links</h2>

		<ul>
			<li><a href="http://www.runemadsen.com">www.runemadsen.com</a></li>
			<li><a href="mailto:rune@runemadsen.com">rune@runemadsen.com</a></li>
			<li><a href="http://vimeo.com/runemadsen">www.vimeo.com/runemadsen</a></li>
		</ul>
		
	</div>
	
	<div class="grid_4">
		
		<h2>Selected Projects</h2>
		
		<p><a href="http://runemadsen.com/work/ohland-balloon-visuals">Balloons Projections</a> is a set of interactive visuals projected onto balloons, made for the Danish performer Ohland. Seen on David Letterman, Jimmy Kimmel Live, etc.</p>
		
		<p><a href="http://runemadsen.com/work/tile-puzzle">Tile Puzzle</a> is a video sculpture created like an oversized version of a tile puzzle. It uses dynamic video projections to enable interaction.</p>
		
		<p><a href="https://vimeo.com/18413607">Write Me</a> is an interactive video sculpture made of 100 pieces of paper hanging from black strings. It records and plays back drawings made by visitors.</p>
		
		<p><a href="http://www.rapidftr.com">RapidFTR</a> is an open source, volunteer-driven project, under active development by the Child Protection in Emergencies Team at UNICEF, and has received funding from the Humanitarian Innovation Fund and UNICEF Supply Division</p>

	</div>
	<div class="clear"></div>

-->
