<div class="grid_7">
	Hello
</div>
<div class="grid_5">
	
	<p>I am a computational artist working in the fields of programming and graphic design. My work includes both physical and digital projects ranging from print design and gallery installations to data visualizations, online new media and interactive visuals for performers. I believe in simplicity and organized complexity side by side, and that good design is not based on nostalgia or trendiness, but an intelligent and thoughtful combination of form and content.</p>
	
	<p>I was born outside of Copenhagen, but I now live in Brooklyn, New York. I work for O'Reilly Media, run a small art studio, and teach a graduate class at New York University's Interactive Telecommunications Program. I only check my email once a day, and I generally try to break the nasty habits of the modern office. Please feel free to contact me for inquiries or questions.</p>
	
</div>
<div class="clear"></div>