.post {
	margin-bottom: 4 * $ver_grid;
}

.post:nth-child(5) {
	margin-bottom: 0px;
}

.post-header {
	border-bottom: 3px solid $dark_gray;
	padding-bottom: (2 * $ver_grid) - 7;
}

.post-header .time {
	margin-top: 7px;
	font-family: 'Akkurat-Bold';
	float: left;
	width: 180px;
}

.post-header h1 {
	float: left;
	line-height: 25px;
}

.post-main-left {
	float: left;
	width: 180px;
}

.post-main-left a {
	color: $light_gray;
	border: none;
}

/* Level 1
------------------------------------------- */

.post-main-left ul {
	list-style: none;
	margin: 0;
	line-height: $ver_grid + 1;
}

.post-main-left ul li {
	font-size: 11px;
	font-weight: bold;
	padding-top: $ver_grid + 6;
	padding-bottom: 3px;
	border-bottom: 1px solid $light_gray;
}

/* Level 2
------------------------------------------- */

.post-main-left ul li ul {
	margin-top: 5px;
	margin-left: 10px;
}

.post-main-left ul li ul li {
	font-size: 11px;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: none;
}

.post-main-left ul li ul li a {
	font-size: 13px;
	color: $dark_gray;
	&:hover {
		color: $light_gray;
	}
}

/* Body
------------------------------------------- */

.post-main-right {
	float: left;
	width: 600px;
}

.post-main-right img:first-child {
	margin-top: 0;
}

canvas.clock {
	margin-right: 8px;
}

/* Page Nav
------------------------------------------- */

#page-nav {
	margin-top: 2 * $ver_grid;
	border-top: 3px solid $dark_gray;
	padding-top: 2 * $ver_grid;
	margin-bottom: 3 * $ver_grid;
}

/* Gist styling
------------------------------------------- */

.post-main-right .gist {
	margin: (2 * $ver_grid) 0px;
}

.post-main-right .gist .gist-file {
	font-size: 13px;
	border: none;
}

.post-main-right .gist .gist-file .gist-data {
	background-color: $quote_bg;
	padding: 10px 15px;
}

.post-main-right .gist .gist-file .gist-meta {
	background-color: $quote_bg;
	font-size: 11px;
	font-family: Helvetica, Arial, sans-serif;
	color: $light_gray;
}

.post-main-right .gist .gist-file .gist-meta a,
.post-main-right .gist .gist-file .gist-meta a:visited,
.post-main-right .gist .gist-file .gist-meta a:link {
	color: $light_gray;
}