.dummy {
	background-color: #ccc;
	width: 100px;
	height: 100px;
	float: left;
}

/* Grid Classes
-------------------------------------------------- */

@mixin grid($grid_size) {
	.grid_#{$grid_size} {
		margin: 0 $hor_grid_margin;
		float: left;
		width: ($hor_grid * $grid_size) + (($hor_grid_margin * 2) * ($grid_size - 1));
	}
	.grid_#{$grid_size}.alpha {
		margin-left: 0px;
	}
	.grid_#{$grid_size}.omega {
		margin-right: 0px;
	}
}

@include grid(1);
@include grid(2);
@include grid(3);
@include grid(4);
@include grid(5);
@include grid(6);
@include grid(7);
@include grid(8);
@include grid(9);
@include grid(10);
@include grid(11);
@include grid(12);

/* Vertical Spacing Classes
-------------------------------------------------- */

@mixin ver_spacing($spacing_size) {
	.ver_spacing_#{$spacing_size} {		
		margin-bottom: ($spacing_size * $ver_grid);
	}
}

@include ver_spacing(1);
@include ver_spacing(2);
@include ver_spacing(3);
@include ver_spacing(4);
@include ver_spacing(5);
@include ver_spacing(6);
@include ver_spacing(7);
@include ver_spacing(8);
@include ver_spacing(9);
@include ver_spacing(10);