<% content_for :head do %>
	<%= javascript_include_tag "blog" %>
<% end %>

<div class="grid_9" id="blog">
	<%= partial 'blog/post', :locals => {:post => @post} %>
</div>
<div class="grid_3" id="blog-sidebar">
	
	<h3>About Me</h3>
	
	<p>My name is Rune Madsen, and I'm a computational artist working in the fields of programming and graphic design. I write about design, art and any random thoughts I'm currently bouncing around in my head. New posts will be tweeted out from my <a href="http://www.twitter.com/runemadsen">Twitter</a> account.</p>
	
</div>
<div class="clear"></div>

<script type="text/javascript">
	$(function() {
		window.app = new Blog();
		posts.reset([<%= @post.to_json(:exclude => [:body]) %>]);
	});
</script>