<% content_for :head do %>
	<%= javascript_include_tag "blog" %>
<% end %>

<div class="grid_9" id="blog">
	<%= partial 'blog/post', :locals => {:post => @post} %>
</div>
<div class="grid_3">
</div>
<div class="clear"></div>

<script type="text/javascript">
	$(function() {
		window.app = new Blog();
		posts.reset([<%= @post.to_json(:exclude => [:body]) %>]);
	});
</script>